# NYC traffic accidents over a 3 year period 
## Filter and Subset

Ingest <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv">this dataset</a> stored GitHub.

You can find the <a href="https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data">data source here</a>, including the data dictionary.

In [73]:
## import necessary libraries
import pandas as pd
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [74]:
## read the dataset into notebook
df = pd.read_csv('https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv')
df

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,5/21/19,22:50,BROOKLYN,"(40.69754, -73.98312)",0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ÔøΩMBU,Taxi
1,1/21/20,15:49,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4277087,Sedan,Station Wagon/Sport Utility Vehicle
2,12/31/20,16:30,NaN,NaN,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4380668,Sedan,NaN
3,12/25/20,20:19,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4380494,Sedan,Sedan
4,4/15/20,15:20,NaN,"(40.671585, -73.99843)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407790,Sedan,Tractor Truck Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324378,1/1/19,19:00,BROOKLYN,"(40.6897, -73.922455)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
324379,1/1/19,8:00,BRONX,"(40.81317, -73.859146)",0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
324380,1/1/19,3:30,BRONX,"(40.829407, -73.81967)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
324381,1/1/19,19:30,BROOKLYN,"(40.687565, -73.984406)",0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
324382,1/1/19,12:00,MANHATTAN,"(40.71941, -73.99633)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [75]:
## see the overall info about this dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [76]:
## create a series for borough using dot notation
boro = pd.Series(['BROOKLYN', 'QUEENS', 'MANHATTAN', 'BRONX', 'STATEN ISLAND'], name='Borough')
print(boro.values)

['BROOKLYN' 'QUEENS' 'MANHATTAN' 'BRONX' 'STATEN ISLAND']

In [77]:
## create a series of crash dates.

crash_dates = df['CRASH DATE'].value_counts()
crash_dates

6/26/19    803
11/1/19    782
1/18/20    774
6/21/19    771
5/31/19    765
          ...
4/23/20    108
4/12/20    106
4/9/20     103
4/19/20    102
4/5/20      94
Name: CRASH DATE, Length: 731, dtype: int64

In [78]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## Which borough had the most crashes?
df['BOROUGH'].value_counts()

BROOKLYN         69944
QUEENS           60529
MANHATTAN        37446
BRONX            36741
STATEN ISLAND     6038
Name: BOROUGH, dtype: int64

In [79]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## which type of vehicle was primary vehicle (CONTRIBUTING FACTOR VEHICLE 1) involved in crashes?
## SHOW ONLY THE TOP 7
df['VEHICLE TYPE CODE 1'].value_counts().head(7)

Sedan                                  147440
Station Wagon/Sport Utility Vehicle    120571
Taxi                                    13592
Pick-up Truck                            8958
Box Truck                                6266
Bus                                      4980
Bike                                     3124
Name: VEHICLE TYPE CODE 1, dtype: int64

In [80]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## these top 7 but as percentages as a dataframe, with the header "pct"
df.dropna(subset=['VEHICLE TYPE CODE 1'], inplace=True)
top_vehicles = df['VEHICLE TYPE CODE 1'].value_counts(normalize=True)*100
top_vehicles_df = top_vehicles.to_frame()
top_vehicles_df = top_vehicles_df.rename(columns={'VEHICLE TYPE CODE 1': 'pct'})
top_vehicles_df.head(7)

                                           pct
Sedan                                45.798492
Station Wagon/Sport Utility Vehicle  37.452319
Taxi                                  4.222010
Pick-up Truck                         2.782575
Box Truck                             1.946374
Bus                                   1.546911
Bike                                  0.970391

In [81]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were 15 vehicles that were the most infrequantly involved in an accident  (CONTRIBUTING FACTOR VEHICLE 1)?

df['VEHICLE TYPE CODE 1'].value_counts().tail(15)

F150XL PIC    1
LCOMM         1
postal bus    1
0             1
Pick up Tr    1
HRSE          1
Trc           1
tow truck     1
FREIG         1
Work van      1
Ford sprin    1
e skate bo    1
NYC AMBULA    1
MOTOR SCOO    1
MAC T         1
Name: VEHICLE TYPE CODE 1, dtype: int64

In [82]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
select_cond = df['BOROUGH'] == 'QUEENS'
df_q = df[select_cond]
df_q

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
15,5/2/20,17:30,QUEENS,"(40.67376, -73.79473)",0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,4412513,Station Wagon/Sport Utility Vehicle,Pick-up Truck
74,12/16/20,16:20,QUEENS,"(40.7139, -73.7539)",0,0,0,0,0,0,0,0,Driver Inexperience,NaN,4376676,Box Truck,NaN
97,6/4/20,7:30,QUEENS,"(40.744232, -73.861275)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4423984,Bus,Station Wagon/Sport Utility Vehicle
105,12/3/20,15:10,QUEENS,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4373032,Sedan,NaN
129,12/19/20,16:15,QUEENS,"(40.72362, -73.88802)",1,0,1,0,0,0,0,0,Backing Unsafely,NaN,4379293,Station Wagon/Sport Utility Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324366,1/1/19,11:00,QUEENS,"(40.698704, -73.89974)",0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
324367,1/1/19,12:30,QUEENS,"(40.74114, -73.85747)",0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
324371,1/1/19,2:18,QUEENS,"(40.716507, -73.84711)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
324372,1/1/19,13:00,QUEENS,"(40.665497, -73.75573)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
324375,1/1/19,10:23,QUEENS,"(40.75868, -73.87552)",1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [83]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## number of people killed but return as a frame with a label "number_killed"
number_killed = df['NUMBER OF PERSONS KILLED'].sum()
number_killed_df = pd.DataFrame({'number_killed': [number_killed]})
number_killed_df

   number_killed
0            504

In [84]:
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause
select_cond1 = df['BOROUGH'] == 'MANHATTAN'
select_cond2 = df['VEHICLE TYPE CODE 1'] == 'Taxi'
df2 = df[select_cond1 & select_cond2]
df2

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
343,12/22/20,23:55,MANHATTAN,"(40.78911, -73.96656)",1,0,1,0,0,0,0,0,Unspecified,NaN,4378322,Taxi,NaN
528,12/17/20,3:40,MANHATTAN,"(40.821636, -73.93909)",0,0,0,0,0,0,0,0,Traffic Control Disregarded,Unspecified,4377075,Taxi,NaN
697,12/23/20,21:38,MANHATTAN,"(40.8188, -73.95603)",1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4378603,Taxi,NaN
1330,12/30/20,13:25,MANHATTAN,"(40.748512, -73.98872)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4380283,Taxi,Taxi
1486,12/19/20,13:45,MANHATTAN,"(40.79844, -73.96509)",0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,4377284,Taxi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324013,1/1/19,1:30,MANHATTAN,"(40.770573, -73.982155)",0,0,0,0,0,0,0,0,Other Vehicular,Driver Inattention/Distraction,4060445,Taxi,Station Wagon/Sport Utility Vehicle
324093,1/1/19,16:00,MANHATTAN,"(40.74147, -73.985435)",2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,4061524,Taxi,Station Wagon/Sport Utility Vehicle
324261,1/1/19,16:15,MANHATTAN,"(40.741524, -73.97979)",0,0,0,0,0,0,0,0,Passenger Distraction,Passing Too Closely,4060796,Taxi,Sedan
324296,1/1/19,20:30,MANHATTAN,"(40.821636, -73.93909)",0,0,0,0,0,0,0,0,Unspecified,NaN,4060662,Taxi,NaN
324353,1/1/19,6:00,MANHATTAN,"(40.76161, -73.97076)",0,0,0,0,0,0,0,0,Unspecified,NaN,4060698,Taxi,NaN

In [85]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause

df3 = df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().head(8)
df3

Driver Inattention/Distraction    83312
Unspecified                       78356
Following Too Closely             26677
Failure to Yield Right-of-Way     21595
Passing or Lane Usage Improper    13395
Backing Unsafely                  13390
Passing Too Closely               12620
Other Vehicular                    9638
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [102]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause
### as a percent in a frame with header pct_


top_causes = df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(normalize=True)*100
top_causes_df = top_causes.to_frame()
top_causes_df = top_causes_df.rename(columns={'CONTRIBUTING FACTOR VEHICLE 1': 'header_pct'})
top_causes_df.head(8)

                                header_pct
Driver Inattention/Distraction   25.900238
Unspecified                      24.359504
Following Too Closely             8.293411
Failure to Yield Right-of-Way     6.713506
Passing or Lane Usage Improper    4.164270
Backing Unsafely                  4.162716
Passing Too Closely               3.923336
Other Vehicular                   2.996285

In [87]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause
df4 = df['CONTRIBUTING FACTOR VEHICLE 2'].value_counts().head(8)
df4

Unspecified                       221700
Driver Inattention/Distraction     18103
Following Too Closely               4506
Other Vehicular                     4268
Passing or Lane Usage Improper      2918
Failure to Yield Right-of-Way       2522
Passing Too Closely                 2124
Unsafe Lane Changing                1502
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [88]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the 5 fewest causes for primary vehicles causing the accident
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().tail()

Cell Phone (hands-free)         16
Shoulders Defective/Improper    14
Texting                          6
Listening/Using Headphones       5
Windshield Inadequate            4
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [89]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## list ALL the causes for vehicle 1 as unique values (in other words, create a list of the causes)
uniq = df['CONTRIBUTING FACTOR VEHICLE 1'].unique()
uniq.tolist()

['Passing or Lane Usage Improper',
 'Driver Inattention/Distraction',
 'Reaction to Uninvolved Vehicle',
 'Following Too Closely',
 'Unspecified',
 'Pavement Slippery',
 'Unsafe Lane Changing',
 'Backing Unsafely',
 'Fell Asleep',
 'Failure to Yield Right-of-Way',
 'Traffic Control Disregarded',
 'Oversized Vehicle',
 'Other Vehicular',
 'Unsafe Speed',
 'View Obstructed/Limited',
 'Driver Inexperience',
 'Fatigued/Drowsy',
 'Passenger Distraction',
 'Steering Failure',
 'Passing Too Closely',
 'Turning Improperly',
 'Illnes',
 'Alcohol Involvement',
 'Drugs (illegal)',
 'Glare',
 'Tire Failure/Inadequate',
 'Obstruction/Debris',
 'Aggressive Driving/Road Rage',
 'Brakes Defective',
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
 'Lost Consciousness',
 'Physical Disability',
 'Lane Marking Improper/Inadequate',
 'Driverless/Runaway Vehicle',
 'Cell Phone (hand-Held)',
 'Tow Hitch Defective',
 'Animals Action',
 'Outside Car Distraction',
 'Failure to Keep Right',
 'Accelerator Defective',
 'Pavement Defective',
 'Prescription Medication',
 nan,
 'Traffic Control Device Improper/Non-Working',
 'Vehicle Vandalism',
 'Tinted Windows',
 'Windshield Inadequate',
 'Using On Board Navigation Device',
 'Other Lighting Defects',
 'Other Electronic Device',
 'Shoulders Defective/Improper',
 'Headlights Defective',
 'Eating or Drinking',
 'Cell Phone (hands-free)',
 'Listening/Using Headphones',
 'Texting']

In [90]:
## find all incidents of defective pavements causing accidents 
## and sort by borough
pavement = df[df['CONTRIBUTING FACTOR VEHICLE 1'].str.contains('Pavement Defective', na=False)]
pavement.sort_values(by='BOROUGH')

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
110308,1/10/20,9:12,BRONX,"(40.89624, -73.86785)",0,0,0,0,0,0,0,0,Pavement Defective,Unspecified,4272558,Sedan,Bus
51434,8/10/20,6:30,BRONX,"(40.826424, -73.85868)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4337308,Motorcycle,NaN
57895,6/27/20,14:19,BRONX,"(40.890316, -73.90796)",1,0,0,0,1,0,0,0,Pavement Defective,NaN,4328964,Bike,NaN
58009,5/7/20,16:18,BRONX,"(40.80321, -73.91892)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4312333,Station Wagon/Sport Utility Vehicle,NaN
60601,6/26/20,6:55,BRONX,"(40.816864, -73.882744)",1,0,0,0,0,0,1,0,Pavement Defective,Unspecified,4323495,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312168,1/7/19,7:00,NaN,"(40.68175, -73.96748)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4063468,Sedan,NaN
316180,1/20/19,4:35,NaN,"(40.59329, -73.77972)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4057876,Taxi,NaN
317027,2/2/19,4:55,NaN,"(40.8047, -73.91243)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4074214,Station Wagon/Sport Utility Vehicle,NaN
319388,1/26/19,22:35,NaN,"(40.761204, -73.75539)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4069380,Sedan,NaN
323359,1/5/19,9:35,NaN,"(40.78625, -73.93935)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4062851,Station Wagon/Sport Utility Vehicle,NaN

In [94]:
## find all incidents in which more than 3 people were killed
select_condition1 = df['NUMBER OF PERSONS KILLED'] > 3
more_three_killed = df[select_condition1]
more_three_killed

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
91050,1/25/20,5:35,NaN,"(40.748398, -73.72879)",0,4,0,0,0,0,0,4,Unsafe Speed,Unspecified,4278634,Sedan,Sedan

In [98]:
## find all incidents in which between 2 and 3 people were killed
select_condition2 = ((df['NUMBER OF PERSONS KILLED'] > 1) & (df['NUMBER OF PERSONS KILLED'] <4))
between = df[select_condition2]
between

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
4348,12/12/20,22:52,BROOKLYN,"(40.652752, -73.88629)",0,2,0,0,0,0,0,2,Traffic Control Disregarded,Unspecified,4375377,Sedan,Sedan
7071,10/30/20,17:18,QUEENS,"(40.705147, -73.7957)",3,2,3,2,0,0,0,0,Driver Inexperience,NaN,4362781,Station Wagon/Sport Utility Vehicle,NaN
9559,11/20/20,11:45,QUEENS,"(40.651405, -73.758896)",2,2,0,0,0,0,2,2,Driver Inattention/Distraction,NaN,4369300,Sedan,NaN
20179,10/26/20,16:01,NaN,"(40.865314, -73.836365)",1,2,0,0,0,0,1,2,Illnes,Unspecified,4362350,Sedan,Station Wagon/Sport Utility Vehicle
39644,10/6/20,3:52,QUEENS,"(40.66549, -73.819534)",1,3,0,0,0,0,1,3,Unsafe Speed,NaN,4355333,Sedan,NaN
47224,7/11/20,20:18,BROOKLYN,"(40.58993, -73.90059)",4,3,0,0,0,0,4,3,Driver Inexperience,Driver Inexperience,4327676,Sedan,Sedan
54863,7/20/20,23:46,NaN,"(40.835087, -73.82538)",5,2,0,0,0,0,5,2,Unsafe Speed,Unspecified,4330670,Sedan,Sedan
59719,6/21/20,21:23,NaN,NaN,5,2,0,0,0,0,5,2,Failure to Keep Right,Unspecified,4322266,Sedan,Sedan
69748,4/26/20,3:35,NaN,"(40.811428, -73.90091)",2,2,0,0,0,0,2,2,Unsafe Speed,NaN,4310365,Sedan,NaN
72195,6/11/20,1:34,NaN,NaN,0,2,0,1,0,0,0,1,Unsafe Speed,NaN,4319230,Sedan,NaN
158760,10/4/19,18:45,NaN,"(40.825283, -73.88648)",1,2,0,0,0,0,1,2,Unspecified,NaN,4218016,Sedan,NaN
198087,8/11/19,3:45,NaN,"(40.79806, -73.97554)",0,2,0,0,0,0,0,2,Unsafe Speed,NaN,4187133,Sedan,NaN
223873,6/23/19,12:00,NaN,"(40.667076, -73.78266)",4,2,0,0,0,0,4,2,Lost Consciousness,Unspecified,4157732,Station Wagon/Sport Utility Vehicle,Sedan
237700,6/8/19,0:07,BROOKLYN,"(40.608204, -73.920715)",0,2,0,0,0,0,0,2,Unsafe Speed,Unspecified,4147255,Sedan,Station Wagon/Sport Utility Vehicle
293213,2/11/19,1:17,NaN,"(40.84519, -73.9112)",1,2,0,1,0,0,1,1,Driver Inattention/Distraction,Unsafe Speed,4079289,Station Wagon/Sport Utility Vehicle,Sedan
311509,1/27/19,3:29,NaN,"(40.66615, -73.80575)",0,2,0,0,0,0,0,2,Unsafe Speed,NaN,4070586,Station Wagon/Sport Utility Vehicle,NaN

## Concat the following two files into a single dataframe

- <a href="https://github.com/sandeepmj/datasets/blob/main/importing/flt_delays_17.csv">Flight delays 2017</a>
- <a href="https://github.com/sandeepmj/datasets/blob/main/importing/flt_delays_18.csv">Flight delays 2018</a>

In [99]:
df_18 = pd.read_csv('https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/importing/flt_delays_18.csv')
df_18

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,...,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,...,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,...,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,...,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,...,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16786,2018,10,YX,Republic Airline,TPA,"Tampa, FL: Tampa International",3.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16787,2018,10,YX,Republic Airline,TVC,"Traverse City, MI: Cherry Capital",55.0,12.0,2.11,1.93,...,0.0,5.89,0.0,0.0,1108.0,66.0,584.0,81.0,0.0,377.0
16788,2018,10,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",13.0,2.0,0.00,0.00,...,0.0,1.00,0.0,0.0,200.0,0.0,0.0,26.0,0.0,174.0
16789,2018,10,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",31.0,2.0,0.79,0.00,...,0.0,0.00,1.0,1.0,66.0,33.0,0.0,33.0,0.0,0.0
16790,2018,10,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",116.0,36.0,4.20,0.00,...,0.0,8.71,0.0,0.0,1662.0,257.0,0.0,930.0,0.0,475.0

In [100]:
df_17 = pd.read_csv('https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/importing/flt_delays_17.csv')
df_18

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,...,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,...,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,...,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,...,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,...,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16786,2018,10,YX,Republic Airline,TPA,"Tampa, FL: Tampa International",3.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16787,2018,10,YX,Republic Airline,TVC,"Traverse City, MI: Cherry Capital",55.0,12.0,2.11,1.93,...,0.0,5.89,0.0,0.0,1108.0,66.0,584.0,81.0,0.0,377.0
16788,2018,10,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",13.0,2.0,0.00,0.00,...,0.0,1.00,0.0,0.0,200.0,0.0,0.0,26.0,0.0,174.0
16789,2018,10,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",31.0,2.0,0.79,0.00,...,0.0,0.00,1.0,1.0,66.0,33.0,0.0,33.0,0.0,0.0
16790,2018,10,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",116.0,36.0,4.20,0.00,...,0.0,8.71,0.0,0.0,1662.0,257.0,0.0,930.0,0.0,475.0

In [101]:
df_cat = pd.concat([df_18, df_17], ignore_index=True)
df_cat

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,...,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,...,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,...,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,...,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,...,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25170,2017,10,UA,United Air Lines Inc.,BUR,"Burbank, CA: Bob Hope",113.0,26.0,7.76,0.00,...,0.0,13.40,2.0,0.0,1819.0,483.0,0.0,171.0,0.0,1165.0
25171,2017,10,UA,United Air Lines Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",327.0,35.0,6.48,2.16,...,0.0,19.55,0.0,0.0,2942.0,398.0,345.0,270.0,0.0,1929.0
25172,2017,10,UA,United Air Lines Inc.,BZN,"Bozeman, MT: Bozeman Yellowstone International",95.0,11.0,2.45,1.00,...,0.0,2.79,0.0,0.0,428.0,62.0,67.0,168.0,0.0,131.0
25173,2017,10,UA,United Air Lines Inc.,CHS,"Charleston, SC: Charleston AFB/International",89.0,6.0,1.66,0.00,...,0.0,4.25,0.0,0.0,242.0,68.0,0.0,2.0,0.0,172.0
25174,2017,10,UA,United Air Lines Inc.,CID,"Cedar Rapids/Iowa City, IA: The Eastern Iowa",85.0,10.0,2.38,0.00,...,0.0,4.87,0.0,0.0,451.0,87.0,0.0,69.0,0.0,295.0