### Paycheck Protection Program

Let's analyze **an excerpt** from  <a href="https://www.sba.gov/funding-programs/loans/covid-19-relief-options/paycheck-protection-program">SBA's PPP loan data</a>.

The file we're working on is an excerpt so **we can't draw any hypothesis from our findings** in this homework.

The excerpt can be found at this link: <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv">https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv</a>

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv')
df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3857047706,05/01/2020,1084,PPP,NORTHERN ALASKA CONTRACTORS LLC,3610 MERE CIRCLE,ANCHORAGE,AK,99502,07/13/2021,...,Limited Liability Company(LLC),12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,372875.94,06/22/2021
996,6411717106,04/14/2020,1084,PPP,"L&M EQUIPMENT, INC.",PO BOX 241,NAKNEK,AK,99633,04/27/2021,...,Corporation,3386,First National Bank Alaska,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,360636.31,12/17/2020
997,6297468301,01/26/2021,1084,PPS,EL CAPITAN LODGE LLC,1 Sarkar Rd.,Sarkar Cove,AK,99921,NaN,...,Limited Liability Company(LLC),59358,"BOKF, National Association",TULSA,OK,Male Owned,Non-Veteran,NaN,372821.37,06/07/2022
998,6226697002,04/06/2020,1084,PPP,WASILLA DRIVE-IN LLC,2051 E. Sun Mountain Ave.,WASILLA,AK,99654-7351,08/19/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Unanswered,Unanswered,NaN,372314.56,07/22/2021
999,3933197207,04/27/2020,1084,PPP,"TRIVERUS, LLC",1960 S Eklutna St,Palmer,AK,99645,07/20/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,371221.68,06/02/2021

In [14]:
## Run the code that resets the default display here to round the numbers, remove scientific notation, etc.
pd.set_option('display.float_format', '{:.2f}'.format)

In [15]:
## Run the code here to return all summary statistics in one go
df.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,999.00,413.00,998.00,38.00,147.00,1.00,77.00,20.00,1000.00,935.00
mean,5323517923.41,1074.07,36.74,100.00,952351.41,964703.55,0.00,62646.68,72.87,509316.67,16863.82,938578.99,33246.18,71710.03,10000.00,111150.47,33142.55,62024.84,912982.67
std,2362640833.82,93.77,17.21,0.00,947021.22,950929.00,0.00,75172.75,73.65,181263.44,59265.17,938039.17,35466.21,69605.22,NaN,198885.91,47648.46,73473.17,854058.72
min,1001567103.00,101.00,24.00,100.00,155010.00,155010.00,0.00,3386.00,2.00,112511.00,1.00,155010.00,567.14,1000.00,10000.00,2097.72,899.98,3386.00,101210.83
25%,3570982101.75,1084.00,24.00,100.00,453308.00,463935.00,0.00,3386.00,30.00,423175.00,1.00,452336.25,9250.00,28695.00,10000.00,28944.44,4191.11,3386.00,456726.25
50%,5124373556.50,1084.00,24.00,100.00,617999.31,631722.28,0.00,56102.00,48.00,541350.00,1.00,616318.00,20276.00,50222.14,10000.00,50295.10,14628.52,56102.00,623037.09
75%,7058052029.50,1084.00,60.00,100.00,1024390.91,1035338.24,0.00,116975.00,85.00,621760.00,12459.77,1013200.71,50137.50,91491.00,10000.00,100000.00,35946.25,116975.00,1010828.46
max,9993717000.00,1084.00,60.00,100.00,9571397.00,9538531.00,0.00,524612.00,500.00,924120.00,880558.95,9538531.00,151421.00,404926.45,10000.00,1490740.75,200772.40,518683.00,9615884.57

In [18]:
## What is the sum of all the forgiven loans
#print(df.columns)
f"{df['ForgivenessAmount'].sum():,.2f}"

'853,638,795.36'

In [19]:
## What is the sum of all the forgiven loans
## format with dollar sign and thousands separators
## round to zero decimals
f"${df['ForgivenessAmount'].sum():,.0f}"

'$853,638,795'

In [20]:
## store in variable called total_loan_forgiven
total_loan_forgiven = df['ForgivenessAmount'].sum()
total_loan_forgiven

853638795.3599999

In [22]:
## return the median for CurrentApprovalAmount loans, InitialApprovalAmount loans and ForgivenessAmount loan amounts
print(df['CurrentApprovalAmount'].median())
print(df['InitialApprovalAmount'].median())
print(df['ForgivenessAmount'].median())

631722.275
617999.31
623037.09

In [24]:
##  Return the above as a frame
cols = ['CurrentApprovalAmount', 'InitialApprovalAmount', 'ForgivenessAmount']
df_median = df[cols].median().to_frame()
df_median.columns = ['median']
df_median

                         median
CurrentApprovalAmount 631722.28
InitialApprovalAmount 617999.31
ForgivenessAmount     623037.09

In [27]:
## get the count, mean and median for CurrentApprovalAmount
print(df['InitialApprovalAmount'].count())
print(df['InitialApprovalAmount'].mean())
print(df['InitialApprovalAmount'].median())

1000
952351.4053499999
617999.31

In [25]:
## automatically return a frame (without using to_frame()) for the count, mean and median for InitialApprovalAmount, CurrentApprovalAmount
col_list = ['InitialApprovalAmount', 'CurrentApprovalAmount']
df_auto = df[col_list].agg(['count', 'mean', 'median'])
df_auto

        InitialApprovalAmount  CurrentApprovalAmount
count                 1000.00                1000.00
mean                952351.41              964703.55
median              617999.31              631722.28

## Challenge

#### 1. How many medals were handed out in winter games v. summer game (return both in absolutes and as a percentage)?

#### 2. Top 10 count of gold medals by country

#### 3. Of these top 10, what percent of the gold medals do they have?

In [64]:
#1
df_s = pd.read_csv('https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv')
df_w = pd.read_csv('https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv')

In [65]:
df_s.columns == df_w.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [66]:
df_s = df_s.dropna(subset=['Medal'])

In [67]:
print(df_s['Medal'].count())
print(df_s['Medal'].value_counts(normalize=True))

34088
Gold     0.34
Bronze   0.33
Silver   0.33
Name: Medal, dtype: float64

In [68]:
df_w = df_s.dropna(subset=['Medal'])

In [71]:
print(df_w['Medal'].count())
print(df_w['Medal'].value_counts(normalize=True))

34088
Gold     0.34
Bronze   0.33
Silver   0.33
Name: Medal, dtype: float64

In [72]:
df_fin = pd.concat([df_s, df_w], ignore_index=True)
df_fin = df_fin.dropna(subset=['Medal'])
df_fin

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,4116,Ioannis Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Swimming,"Swimming Men's 1,200 metres Freestyle",Silver
1,4189,Nikolaos Andriakopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Gymnastics,Gymnastics Men's Rope Climbing,Gold
2,8620,Edward Battel,M,NaN,NaN,NaN,Great Britain,GBR,1896,Athina,Cycling,"Cycling Men's Road Race, Individual",Bronze
3,12068,Arthur Charles Blake,M,24.00,NaN,NaN,United States,USA,1896,Athina,Athletics,"Athletics Men's 1,500 metres",Silver
4,12563,Conrad Helmut Fritz Bcker,M,25.00,NaN,NaN,Germany,GER,1896,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68171,134857,Zhu Ting,F,21.00,198.00,78.00,China,CHN,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold
68172,135132,Bojana ivkovi,F,28.00,186.00,72.00,Serbia,SRB,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver
68173,135205,Shakhobiddin Shokirovich Zoirov,M,23.00,169.00,52.00,Uzbekistan,UZB,2016,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold
68174,135245,Milenko Zori,M,27.00,179.00,73.00,Serbia,SRB,2016,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",Silver
68175,135525,Martin Zwicker,M,29.00,175.00,64.00,Germany,GER,2016,Rio de Janeiro,Hockey,Hockey Men's Hockey,Bronze

In [73]:
#2
df_gold = df_fin[df_fin['Medal'] == 'Gold'] 
df_gold

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
1,4189,Nikolaos Andriakopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Gymnastics,Gymnastics Men's Rope Climbing,Gold
4,12563,Conrad Helmut Fritz Bcker,M,25.00,NaN,NaN,Germany,GER,1896,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Gold
5,12563,Conrad Helmut Fritz Bcker,M,25.00,NaN,NaN,Germany,GER,1896,Athina,Gymnastics,"Gymnastics Men's Horizontal Bar, Teams",Gold
6,12929,John Mary Pius Boland,M,25.00,NaN,NaN,Great Britain,GBR,1896,Athina,Tennis,Tennis Men's Singles,Gold
7,12929,John Mary Pius Boland,M,25.00,NaN,NaN,Great Britain/Germany,GBR,1896,Athina,Tennis,Tennis Men's Doubles,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68167,134740,Zheng Shuyin,F,22.00,188.00,75.00,China,CHN,2016,Rio de Janeiro,Taekwondo,Taekwondo Women's Heavyweight,Gold
68168,134759,Viktoriya Yuryevna Zhilinskayte,F,27.00,188.00,80.00,Russia,RUS,2016,Rio de Janeiro,Handball,Handball Women's Handball,Gold
68170,134783,Zhong Tianshi,F,25.00,168.00,62.00,China,CHN,2016,Rio de Janeiro,Cycling,Cycling Women's Team Sprint,Gold
68171,134857,Zhu Ting,F,21.00,198.00,78.00,China,CHN,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold
68173,135205,Shakhobiddin Shokirovich Zoirov,M,23.00,169.00,52.00,Uzbekistan,UZB,2016,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold

In [74]:
print(df_gold['Team'].value_counts().head(10))

United States    4666
Soviet Union     1660
Germany          1128
Italy             984
Great Britain     962
Hungary           864
France            842
East Germany      674
Australia         672
Sweden            652
Name: Team, dtype: int64

In [75]:
#3
print(df_gold['Team'].value_counts(normalize=True).head(10)*100)

United States   20.36
Soviet Union     7.24
Germany          4.92
Italy            4.29
Great Britain    4.20
Hungary          3.77
France           3.67
East Germany     2.94
Australia        2.93
Sweden           2.84
Name: Team, dtype: float64